name: Check, Test and Build zpr crate 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  build-test-check:
    name: zpr_crate
    uses: org-zpr/zpr-dev-tools/.github/workflows/rust-build-test.yml@4b1b69ee9de8b9a295d9ad2746846c872a3af2aa
    
    with:
      name: 'zpr_crate'
      needs-capnp: true
      features: 'all'
    secrets:
      ZPR_CICD_RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}
